body {
  margin: 100px;
  background-color: orange;
  text-align: center;
}

span {
  height: 100px;
  width: 100px;
  border: 2px black solid;
  display: inline-block;
}
#grey {
  background-color: grey;
}
#white{
    background-color: white;
}
#cyan{
    background-color: cyan;
}
#pink{
    background-color: pink;
}